<div class="hmcts-width-container">
    <main role="main" class="govuk-main-wrapper">
        <ng-container *ngIf="caseType.jurisdictionId=='notselected'; else ccdCreate">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    What type of case do you want to create?
                                </h1>
                            </legend>


                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="type" name="type" type="radio" value='{"jurisdictionId":"DIVORCE","caseTypeId":"DIVORCE","eventTriggerId":"solicitorCreate"}'
                                        [(ngModel)]="caseSelected">
                                    <label class="govuk-label govuk-radios__label" for="type-1">
                                        Divorce
                                    </label>
                                </div>


                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="type" name="type" type="radio" value='{"jurisdictionId":"DIVORCE","caseTypeId":"Financial Remedy MVP_v0.3","eventTriggerId":"FR_solicitorCreate"}'
                                        [(ngModel)]="caseSelected">
                                    <label class="govuk-label govuk-radios__label" for="type-2">
                                        Financial remedy (not contested)
                                    </label>
                                </div>




                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="type" name="type" type="radio" value='{"jurisdictionId":"PROBATE","caseTypeId":"GrantOfRepresentation","eventTriggerId":"solicitorCreateApplication"}'
                                        [(ngModel)]="caseSelected">
                                    <label class="govuk-label govuk-radios__label" for="type-3">
                                        Probate
                                    </label>
                                </div>



                            </div>
                        </fieldset>


                    </div>
                    <button class="govuk-button" (click)="chooseEvent()">Continue</button>
                </div>
            </div>
        </ng-container>

        <div class='container-fluid'>
            <ng-template #ccdCreate>
                {{caseType.jurisdictionId}},
                {{caseType.caseTypeId}},
                {{caseType.eventTriggerId}}
                <ccd-case-create [jurisdiction]="caseType.jurisdictionId" [caseType]="caseType.caseTypeId" [event]="caseType.eventTriggerId"
                    (cancelled)="cancel($event)" (submitted)="submit($event)"></ccd-case-create>
            </ng-template>



        </div>



    </main>
</div>