<div class="hmcts-menu">
    <button class="govuk-button hmcts-menu__toggle-button" type="button" aria-haspopup="true" aria-expanded="true">Actions</button>
    <div class="hmcts-menu__wrapper hmcts-menu__wrapper--right" role="menu" [ngStyle]="styles" #optionsDropdown>
        <button type="submit" class="hmcts-menu__item" data-secondary="true" role="menuitem">
            Action 1
        </button>

        <button type="submit" class="hmcts-menu__item" data-secondary="true" role="menuitem">
            Action 2
        </button>

        <button type="submit" class="hmcts-menu__item" data-secondary="true" role="menuitem">
            Action 3
        </button>
    </div>
</div>
