<div class="jui-width-container">
  <main id="content" role="main" class="govuk-main-wrapper">
        

      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Your cases</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
        

          <a   role="button" class="govuk-button hmcts-page-heading__button" routerLink="create-case">Create case</a>


        </div>
      </div>


      <!-- <ul>
        <li *roleAccess="'admin,caseworker-probatex'">one</li>
        <li>two</li>
        <li>three</li>
      </ul>

      <a unlessRole="caseworker-probatex,caseworker-divorcex" routerLink="/purple" >purple</a> |<br>
      <a unlessRole="caseworker-probatex,caseworker-divorcex" routerLink="/red" routerLinkActive="disabled">Red</a> |<br>
      <a  unlessRole="caseworker-probatex,caseworker-divorcex" href='http://www.google.co.uk' >This is a link</a><br>
      <button  unlessRole="caseworker-probatex,caseworker-divorcex">Button text</button> -->
     
      <!-- <app-search-result *roleAccess="'caseworker-probate'" ></app-search-result> -->
      <app-search-result ></app-search-result>

  </main>
</div>





<!-- <div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    

<div class="hmcts-page-heading">
  <div class="hmcts-page-heading__title-wrapper">
    <h1 class="hmcts-page-heading__title govuk-heading-xl">Organisation's cases</h1>
  </div>
  <div class="hmcts-page-heading__actions-wrapper">
      

<a href="/pui-case-list-and-summary/create-case" role="button" class="govuk-button hmcts-page-heading__button">
Create case
</a>

  </div>
</div>


  </main>
</div> -->

